@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito&display=swap');

* {
	margin: 0 auto;
	scroll-behavior: smooth !important;
}

body {
	background-color: #fff;
	font-family: 'Nunito', sans-serif;
}

.my-info-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	height: 80vh;
}

.container-center {
	padding: 10px;
	@media (max-width: 450px) {
		padding: 50px 10px 10px 10px;
	}
}

.image img{
	border-radius: 20px;
}

.hello {
	color: #1f1f1d;
	padding: 20px 5px;
	font-size: 20px;
}

.subtitle {
	padding: 15px 5px;
}

.subtitle-text {
	border-bottom: 1px solid #000;
}

.item {
	padding: 5px 0;
	font-size: 17px;
}

.first {
	margin-top: 6px;
}

i {
	width: 16px;
	padding-right: 5px;
}


.footer {
	display: flex;
	align-items: self-end;
	padding: 0 15px;
	height: 15vh;
}

.footer-container-center {
	padding: 10px;
	width: 435px;
}